*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/davies-designs-studio-PvGt65_l0FU-unsplash.jpg);
}

.container {}

.card {
    border: 2px solid black;
}

/* .card-bottom {
    background-image: url("../img/card-bg.png");
} */
.card-bottom {
    display: grid;
    grid-template-areas: "... ... ... ... ... ..."
        "... ... ... ... ... ..."
        "... ... ... ... ... ..."

    ;
}

.card-top {

    .front-side {}

    .back-side {}
}