*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/davies-designs-studio-PvGt65_l0FU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 90%;
}

.candle {
    grid-area: can;
    /* overflow: hidden; */
}

.candle-img {
    width: 9rem;
}

.card-bottom {
    /* height: 300px; */
    width: 80%;
    max-height: 90%;
    aspect-ratio: 3/2;
    box-shadow: 0px 0px 20px 2px;
    overflow: hidden;
    background-image: url("../img/card-bg.png");
    background-size: cover;
    display: grid;
    border: none;
    /* grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; */
    grid-template-areas:
        "... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
        "... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
        "... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
        "... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
        "... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
        "... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
        "... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
        "... ... ... ... ... ... ... ... ... ... can ... ... ... ..."
        "... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
        "... ... ... ... ... ... ... ... ... ... ... ... ... ... ...";
}

.card-top {

    .front-side {}

    .back-side {}
}