#snow {
  margin: 0;
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 3;
}

.snowflake {
  position: absolute;
  color: #fff;
  user-select: none;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(100vh);
  }
}