#snow {
  margin: 0;
  overflow: hidden;
}
.snowflake {
  position: absolute;
  color: #fff;
  user-select: none;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}